{% extends 'base.html.twig' %}

{% block title %}Kalender{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/calendar.css') }}">
{% endblock %}

{% block body %}
<div class="calendar-wrapper">
    {% set currentDate = date(currentYear ~ '-' ~ currentMonth ~ '-' ~ 1) %}
    <div class="tabs">
        <a class="tab {% if activeUser == 0 %}active-tab{% endif %}" id="prev-month-link" href="{{ path('app_calendar_date', { 'date': currentDate|date('d-m-Y'), 'user': 0 }) }}">{{ user0.name }}</a>
        <a class="tab {% if activeUser == 1 %}active-tab{% endif %}" id="next-month-link" href="{{ path('app_calendar_date', { 'date': currentDate|date('d-m-Y'), 'user': 1 }) }}">{{ user1.name }}</a>
    </div>
    <div class="month-navigation">
        <a id="prev-month-link" href="{{ path('app_calendar_date', { 'date': currentDate|date_modify('-1 month')|date('d-m-Y'), 'user': activeUser }) }}">Vorheriger Monat</a>
        <span>{{ (currentDate)|date('F')}}</span>
        <a id="next-month-link" href="{{ path('app_calendar_date', { 'date': currentDate|date_modify('+1 month')|date('d-m-Y'), 'user': activeUser }) }}">Nächster Monat</a>
    </div>
    <table class="calendar">
        {% for day in 1..days %}
            {% set currentDate = date(currentYear ~ '-' ~ currentMonth ~ '-' ~ day) %}
            <tr>
                <td class="calendar-day {% if currentDate|date('m') != currentMonth %}other-month{% endif %}" data-date="{{ currentDate|date('Y-m-d') }}">
                    {% set hasWorkout = false %}
                    {% for workout in workouts %}
                        {% if workout.date == currentDate %}
                            {% set hasWorkout = true %}
                            <a href="{{ path('show_workout', {'id': workout.id}) }}">{{ workout.date|date('d.m.Y') }} - {{ workout.points }} - {{ workout.user.name }}</a><br>
                        {% endif %} 
                    {% endfor %}
                    {% if hasWorkout == false %}
                        {{ currentDate|date('d.m.Y') }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
