{% extends 'base.html.twig' %}

{% block title %}Exercises{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/exercise.css') }}">
{% endblock %}
{% block body %}

<div class="example-wrapper">
    <h2>Übungen</h2>
    <a href="{{ path('new_exercise') }}" class="button">Neue Übung</a>
    {% if categories %}
        {% for category, exercises in categories %}
            <h3>{{ category }}</h3>
            <div class="exercise-container">
                {# {{ "I like Twig.\nYou will like it too."|nl2br }} #}
                {% for exercise in exercises %}
                    <div class="exercisePanel">
                        <a href="{{ path('show_exercise', {'id': exercise.id}) }}">{% if exercise.name|length > 16 %}{{ exercise.nameShort }}{% else %}{{ exercise.name }}{% endif %}</a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}

    {% if exercises %}
        <h3>{{ "Alles" }}</h3>
        <div class="exercise-container">
            {% for exercise in exercises %}
                <div class="exercisePanel">
                    <a href="{{ path('show_exercise', {'id': exercise.id}) }}">{% if exercise.name|length > 16 %}{{ exercise.nameShort }}{% else %}{{ exercise.name }}{% endif %}</a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
