{% extends 'base.html.twig' %}

{% block title %}Neue Exercise{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block body %}
<div class="example-wrapper">
    <div>
        <a href="{{ path('new_muscle_group') }}" class="button">Neue MuscleGroup</a>
    </div>
    <div>
        <a href="{{ path('index_muscle_group') }}" class="button">MuscleGroups</a>
    </div>
   {{ form(form) }}
</div>
{% endblock %}
