{% extends 'base.html.twig' %}

{% trans_default_domain 'forms' %}
{% block title %}{{ 'exercise.new'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h2 class="form-header">{{ 'exercise.new'|trans }}</h2>
    <div class="link-top">
        <a href="{{ path('index_muscle_group') }}" class="button">{{ 'muscle_group.plural'|trans }}</a>
    </div>
    <div class="link-top">
        <a href="{{ path('new_muscle_group') }}" class="button">{{ 'muscle_group.new'|trans }}</a>
    </div>
   {{ form(form) }}
</div>
{% endblock %}
