{% extends 'base.html.twig' %}

{% block title %}{{ exercise.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/exercise.css') }}">
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h2>{{ exercise.name }}:</h2>
		<p>{{ exercise.muscleGroup.term }} - Durschnittlich {{ exercise.median|number_format }} Wiederholungen pro Set</p>
		{% if exercise.imageLink is not null %}
			<img src={{ exercise.imageLink }} alt="exercise" height="400">
		{% endif %}
		<div>{{ exercise.description }}</div>
		<button onclick="window.location.href = '{{ path('edit_exercise', {'id': exercise.id}) }}';" class="btn editButton">
			<i class="fa fa-edit"></i> Bearbeiten
		</button>
		<p></p>
		{% for unit in units %}
			<div>
				{{ unit.workout.user.name }} - {{ unit.workout.date|date('Y-m-d') }};
				{{ unit.set1 }};
				{{ unit.set2 }};
				{{ unit.set3 }}
				{% if unit.exercise.usesWeight %}; {{ unit.weight }}kg{% endif %}
				{% if unit.info %}; {{ unit.info }}{% endif %}
			</div>
		{% endfor %}
	</div>

{% endblock %}
