{% extends 'base.html.twig' %}

{% trans_default_domain 'forms' %}
{% block title %}{{ exercise.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/exercise.css') }}">
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h2>{{ exercise.name }}:</h2>
		<p>{{ exercise.muscleGroup.term }} - Durschnittlich {{ exercise.median|number_format }} Wiederholungen pro Set</p>
		{% if exercise.imageLink is not null %}
			<img src={{ exercise.imageLink }} alt="exercise" height="400">
		{% endif %}
		{% if exercise.musicLinkIframe is not null %}
			<iframe width="600" height="400" src="{{ exercise.musicLinkIframe }}" frameborder="0" allowfullscreen></iframe>
		{% endif %}
		<div>
			{% if exercise.musicLink is not null %}
				<a href="{{ exercise.musicLink }}" target="_blank">
					{{ 'exercise.music_link'|trans }}
				</a>
			{% endif %}
		</div>
		<div>{{ exercise.description }}</div>
		<button onclick="window.location.href = '{{ path('edit_exercise', {'id': exercise.id}) }}';" class="btn editButton">
			<i class="fa fa-edit"></i> {{ 'exercise.edit'|trans }}
		</button>
		
		<button onclick="window.location.href = '{{ path('add_unit', {'id': exercise.id}) }}';" class="btn editButton">
			<i class="fa fa-plus"></i> {{ 'exercise.add_today'|trans }}
		</button>
		<p></p>
		{% for unit in units %}
			<div>
				{{ unit.workout.user.name }} - {{ unit.workout.date|date('Y-m-d') }};
				{{ unit.set1 }};
				{{ unit.set2 }};
				{{ unit.set3 }}
				{% if unit.exercise.usesWeight %}; {{ unit.weight }}kg{% endif %}
				{% if unit.info %}; {{ unit.info }}{% endif %}
			</div>
		{% endfor %}
	</div>

{% endblock %}
