{% extends 'base.html.twig' %}

{% trans_default_domain 'forms' %}
{% block title %}{{ exercise.name }}{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/exercise.css') }}">
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
	<script type="text/javascript" src="jscript/graph.js"></script>
	<script src="{{ asset('js/exercise.js') }}"></script>
	<script>
		// Prepare data for the graphs
		var exerciseLabels = {{ units|map(unit => unit.workout.date|date('Y-m-d'))|json_encode|raw }};
		var repData = {{ units|map(unit => ((unit.set1 + unit.set2 + unit.set3) / 3))|json_encode|raw }};
		var exerciseName = '{{ exercise.name|e('js') }}';
		var weightData = {{ units|filter(unit => unit.exercise.usesWeight)|map(unit => unit.weight)|json_encode|raw }};
		var setValues = {{ units|map(unit => [unit.set1, unit.set2, unit.set3])|json_encode|raw }};
	</script>
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h2>{{ exercise.name }}:</h2>

		{# Show median and last workout date #}
		<p>
			{{ exercise.muscleGroup.term }} - Durschnittlich <strong>{{ exercise.median|number_format }}</strong> Wiederholungen pro Set.
			{% if units|length > 0 %}
				{{ 'exercise.last_workout'|trans({'%date%': units|last.workout.date|date('d.m.Y')})|raw }}
			{% else %}
				{{ 'exercise.no_units'|trans }}
			{% endif %}
		</p>
		{% if exercise.imageLink is not null %}
			<img src={{ exercise.imageLink }} alt="exercise" height="400">
		{% endif %}
		{% if exercise.musicLinkIframe is not null %}
			<iframe width="600" height="400" src="{{ exercise.musicLinkIframe }}" frameborder="0" allowfullscreen></iframe>
		{% endif %}
		<div>
			{% if exercise.musicLink is not null %}
				<a href="{{ exercise.musicLink }}" target="_blank">
					{{ 'exercise.music_link'|trans }}
				</a>
			{% endif %}
		</div>
		<div>{{ exercise.description }}</div>

		{# button to edit the exercise #}
		<button onclick="window.location.href = '{{ path('edit_exercise', {'id': exercise.id}) }}';" class="btn editButton">
			<i class="fa fa-edit"></i> {{ 'exercise.edit'|trans }}
		</button>
		
		{# button to add a new unit for this exercise #}
		<button onclick="window.location.href = '{{ path('add_unit', {'id': exercise.id}) }}';" class="btn editButton">
			<i class="fa fa-plus"></i> {{ 'exercise.add_today'|trans }}
		</button>
		<p></p>

		{# chart of the exercise statistics, showing both reps and weight #}
		{% if units|filter(unit => unit.exercise.usesWeight)|length > 0 %}
			<div class="graph-wrapper">
				<h3>{{ 'exercise.statistics_both'|trans }}</h3>
				<canvas id="combinedGraph" width="600" height="400"></canvas>
			</div>
		{% endif %}

		{# chart of the exercise statistics, focus on reps #}
		<div class="graph-wrapper">
			<h3>{{ 'exercise.statisics_rep'|trans }}</h3>
			<canvas id="repGraph" width="600" height="400"></canvas>
		</div>

		{# chart of the exercise statistics, focus on weight #}
		{% if units|filter(unit => unit.exercise.usesWeight)|length > 0 %}
			<div class="graph-wrapper">
				<h3>{{ 'exercise.statistics_weight'|trans }}</h3>
				<canvas id="weightGraph" width="600" height="400"></canvas>
			</div>
		{% endif %}
	</div>

{% endblock %}
