{% extends 'base.html.twig' %}

{% trans_default_domain 'forms' %}
{% block title %}{{ 'muscle_group.new'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h2 class="form-header">{{ 'muscle_group.new'|trans }}</h2>
   {{ form(form) }}
</div>
{% endblock %}
