<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
            <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/base.js') }}"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        {% endblock %}

    </head>
    <body>
        <div class="sidebar">
            <div onclick="window.location.href = '{{ path('index_workout') }}';" class="sidebarElement" style="flex: 1;">
                <a href="{{ path('index_workout') }}">Workouts</a>
            </div>
            <div onclick="window.location.href = '{{ path('index_exercise') }}';" class="sidebarElement" style="flex: 1;">
                <a href="{{ path('index_exercise') }}">Übungen</a>
            </div>
            <div onclick="window.location.href = '{{ path('app_calendar') }}';" class="sidebarElement" style="flex: 1;">
                <a href="{{ path('app_calendar') }}">Kalender</a>
            </div>
        </div>
        <div style="float: right;">
            <a href="{{ path('app_calendar') }}"><img src="path_to_user_icon"></a>
        </div>
        <div style="margin-left: 320px;">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
