{% extends 'base.html.twig' %}

{% block title %}Workouts{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/workout.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/workout.js') }}"></script>
{% endblock %}

{% block body %}
<div class="tab-container">
    <div class="tabs">
        <div class="tab active-tab" id="tab1">{{ user0.name }}</div>
        <div class="tab" id="tab2">{{ user1.name }}</div>
        <div onclick="window.location.href = '{{ path('index_user') }}';" class="tab">
            <a href="{{ path('index_user') }}">Users</a>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab1-content" style="display: block;">
            <div class="example-wrapper">
                <h2>Workouts</h2>
                <a href="{{ path('new_workout') }}" class="button">Neues Workout</a>
                {% if workoutsUser0 %}
                    <div class="workout-container">
                        {% for workout in workoutsUser0 %}
                            {% set opacity = workout.points >= 10 ? 100 : workout.points == 0 ? 40 : (10 - workout.points) * 6 + 40 %}
                            <div class="workoutPanel">
                                <a href="{{ path('show_workout', {'id': workout.id}) }}" style="opacity: {{ opacity }}%">{{ workout.date|date('d.m.Y') }}</a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="tab2-content">
            <div class="example-wrapper">
                <h2>Workouts</h2>
                <a href="{{ path('new_workout') }}" class="button">Neues Workout</a>
                {% if workoutsUser1 %}
                    <div class="workout-container">
                        {% for workout in workoutsUser1 %}
                            {% set opacity = workout.points >= 10 ? 100 : workout.points == 0 ? 40 : (10 - workout.points) * 6 + 40 %}
                            <div class="workoutPanel">
                                <a href="{{ path('show_workout', {'id': workout.id}) }}" style="opacity: {{ opacity }}%">{{ workout.date|date('d.m.Y') }}</a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
