{% extends 'base.html.twig' %}

{% block title %}Workouts{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/workout.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/workout.js') }}"></script>
{% endblock %}

{% block body %}
<div class="tab-container">
    <div class="tabs">
        {% for user in users %}        
            <div class="tab{% if activeUser == user.id %} active-tab{% endif %}" id="tab{{user.id}}">{{ user.name }}</div>
        {% endfor %}
        <div onclick="window.location.href = '{{ path('index_user') }}';" class="tab">
            <a href="{{ path('index_user') }}">Users</a>
        </div>
    </div>
    <div class="tab-content">
        {% for user in users %}
            <div class="tab{{user.id}}-content" {% if activeUser == user.id %}style="display: block;{% endif %}">
                <div class="example-wrapper">
                    <h2>Workouts</h2>
                    <a href="{{ path('new_workout') }}" class="button">Neues Workout</a>
                    {% if workoutsUsers[user.id] %}
                        <div class="workout-container">
                            {% for workout in workoutsUsers[user.id] %}
                                {% set opacity = workout.points >= 10 ? 100 : workout.points == 0 ? 40 : (10 - workout.points) * 6 + 40 %}
                                <div class="workoutPanel">
                                    <a href="{{ path('show_workout', {'id': workout.id}) }}" style="opacity: {{ opacity }}%">{{ workout.date|date('d.m.Y') }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
