{% extends 'base.html.twig' %}

{% block title %}Workout{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/workout.css') }}">
{% endblock %}

{% block body %}

<div class="example-wrapper">
   <h2>{{ workout.date|date('Y-m-d') }}:</h2>
   <div>Workout von {{ workout.user.name }}</div>
   {% if workout.info is not null %}
      <div>"{{ workout.info }}"</div>
   {% endif %}

   <table class="workoutTable">
      <tr>
         <th>Exercise</th>
         <th>Set1</th>
         <th>Set3</th>
         <th>Set3</th>
         <th>Info</th>
      </tr>
      {% for unit in workout.units %}
         <tr ondblclick="window.location.href = '{{ path('edit_unit', {'id': unit.id}) }}';">
            <td>{{ unit.exercise.name }}</td>
            <td>{{ unit.set1 }}</td>
            <td>{{ unit.set2 }}</td>
            <td>{{ unit.set3 }}</td>
            <td>{{ unit.info }}</td>
         </tr>
      {% endfor %}
   </table>
   <button id="showTableButton">+</button>
   <div id="hiddenArea" style="display: none;">
      <table class="workoutTable">
         <tr>
            <td ALIGN="center">
               <select id="exerciseOption">   
                  {% for exercise in exercises %}
                     <option value={{ exercise.id }}>{{ exercise.name }}</option>
                  {% endfor %}
               </select>
            </td>
            <td><div><input id="set1Input" type="number" value="0">Set1</div></td>
            <td><div><input id="set2Input" type="number" value="0">Set2</div></td>
            <td><div><input id="set3Input" type="number" value="0">Set3</div></td>
            <td><div><textarea id="unitInfo"></textarea></td>
            <input id="workoutId" type="number" value={{ workout.id }} style="display: none;"></input>
         </tr>
      </table>
      <button id="saveUnitToExercise">Speichern</button>
   </div>
</div>

{% endblock %}
