{% extends 'base.html.twig' %}

{% trans_default_domain 'forms' %}
{% block title %}{{ 'workout.workout'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/workout.css') }}">
{% endblock %}

{% block body %}

<div class="example-wrapper">
   <h2>{{ workout.date|date('Y-m-d') }}:</h2>
   <div>Workout von {{ workout.user.name }} - {{ workout.points }} Punkte</div>
   {% if workout.info is not null %}
      <div>"{{ workout.info }}"</div>
   {% endif %}

   <table class="workoutTable">
      <tr>
         <th>{{ 'exercise.exercise'|trans }}</th>
         <th>Set1</th>
         <th>Set3</th>
         <th>Set3</th>
         <th>Info</th>
      </tr>
      {% for unit in workout.units %}
         <tr>
            <td onclick="window.location.href = '{{ path('show_exercise', {'id': unit.exercise.id}) }}';" style="cursor: pointer;">{{ unit.exercise.name }}</td>
            <td ondblclick="window.location.href = '{{ path('edit_unit', {'id': unit.id}) }}';">{{ unit.set1 }}</td>
            <td ondblclick="window.location.href = '{{ path('edit_unit', {'id': unit.id}) }}';">{{ unit.set2 }}</td>
            <td ondblclick="window.location.href = '{{ path('edit_unit', {'id': unit.id}) }}';">{{ unit.set3 }}</td>
            <td ondblclick="window.location.href = '{{ path('edit_unit', {'id': unit.id}) }}';">
               {{ unit.exercise.usesWeight ? (unit.weight ~ "kg") : "" }}
               {{ (unit.exercise.usesWeight and unit.info) ? "; " : "" }}
               {{ unit.info }}
            </td>
         </tr>
      {% endfor %}
   </table>
   {# add new unit via hxr-request #}
   <button class="buttonAddUnit" id="addUnitButton">{{ 'workout.add_unit'|trans }}</button>
   <div id="addUnitForm" style="display: none;">
      <form id="unitForm">
         <select id="exerciseSelect" name="exId">   
            {% for exercise in exercises %}
               <option value="{{ exercise.id }}" data-uses-weight="{{ exercise.usesWeight ? 1 : 0 }}">{{ exercise.name }}</option>
            {% endfor %}
         </select>
         <input id="set1" name="set1" type="number" value="0" placeholder="{{ 'workout.set1'|trans }}">
         <input id="set2" name="set2" type="number" value="0" placeholder="{{ 'workout.set2'|trans }}">
         <input id="set3" name="set3" type="number" value="0" placeholder="{{ 'workout.set3'|trans }}">
         <input id="weight" name="unW" type="text" value="0.0kg" placeholder="{{ 'workout.weight'|trans }}" style="display: none;">
         <textarea id="info" name="unitInfo" placeholder="{{ 'workout.info'|trans }}"></textarea>
         <input id="workoutId" name="wId" type="hidden" value="{{ workout.id }}">
         <button type="submit">{{ 'workout.save_unit'|trans }}</button>
      </form>
   </div>
   <div id="unitMessage" style="display: none;"></div>
   <div>
      <a href="{{ path('median_exercise', {'id': workout.id}) }}" class="button"> Berechne Durchschnitte</a>
   </div>
   <div>
      {# delete button #}
      <a href="{{ path('delete_workout', {'id': workout.id}) }}" class="button" onclick="return confirm('{{ 'workout.delete_confirm'|trans }}');">{{ 'workout.delete'|trans }}</a>
   </div>
   
</div>

{% endblock %}
